/*a{
    position: left;
    color: #6BD7CD;
    text-decoration: none;
    border-bottom: 1px 
    solid black;
}
nav{
    width:20%;
    margin-left: auto;
    
}
*/

.article{
    
      .section1{
        background-color:#ef457f;
      } 
      .section2{
        background-color: turquoise;
       } 
       .section3{
        background-color:#ef457f;
       } 
       .section4{
        background-color: turquoise;
       } 
}